<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compilation de sketches p5js open source par Gilles Gonon">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <title>Sketchs p5js - Gilles Gonon</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/material-cards.css">
    <link rel="stylesheet" href="./assets/css/sketch.css">
    <script src="https://use.fontawesome.com/f015269f79.js"></script>
    
</head>
<body>
    <section class="container">
        <div class="page-header">
            <h1>Sketches p5js<br>
                <small>A compilation of my personnal sketches - Gilles Gonon</small></h1>
        </div>
        <div class="row active-with-click">
        {% for sketch in lSketches -%}
        <div class="col-md-4 col-sm-6">
            <article class="material-card {{ sketch.color }}">
                <a class="mc-title-action"><h2>
                    <span>{{ sketch.title }}</span>
                    <strong>
                        <i class="{{ sketch.catIcon }}"></i>
                        {{ sketch.category }}
                    </strong>
                </h2></a>
                <div class="mc-content">
                    <div class="img-container">
                        <a class="mc-img-action"></a><img class="img-responsive" src="{{ sketch.image }}"></a>
                    </div>
                    <div class="mc-description">
                        {{ sketch.description }}
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="glyphicon glyphicon-info-sign"></i>
                </a>
                <div class="mc-footer">
                    <h4><a href="{{ sketch.dir }}" class="title-link" alt="ouvrir le sketch">Voir le sketch</a></h4>
                    <a href="{{ sketch.dir }}" class="text-center link-icon" alt="ouvrir le sketch"><i class="glyphicon glyphicon-eye-open"></i></a>
                    
                </div>
            </article>
        </div>
             
        {% endfor %}

        </div>
    </section>

    <footer>
       <a href="https://gitlab.com/giloop-projects/p5js-sketches">Code source</a> sur <i class="fa fa-fw fa-github"></i>Gitlab
        <br>Page template material-cards by David Foliti <a href="https://codepen.io/marlenesco/pen/NqOozj/">view CodePen</a>
    </footer>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>


        $(function() {
            let toggleInfo = function() {
                var card = $(this).parent('.material-card');
                var icon = $(this).children('i');
                icon.addClass('fa-spin-fast');
    
                if (card.hasClass('mc-active')) {
                    card.removeClass('mc-active');
    
                    window.setTimeout(function() {
                        icon
                            .removeClass('glyphicon-arrow-left')
                            .removeClass('fa-spin-fast')
                            .addClass('glyphicon-info-sign');
    
                    }, 800);
                } else {
                    card.addClass('mc-active');
    
                    window.setTimeout(function() {
                        icon
                            .removeClass('glyphicon-info-sign')
                            .removeClass('fa-spin-fast')
                            .addClass('glyphicon-arrow-left');
    
                    }, 800);
                }
            }
            
            $('.material-card > .mc-title-action').click(toggleInfo);
            $('.material-card > .mc-btn-action').click(toggleInfo);
            $('.material-card > .mc-content > .img-container > .mc-img-action').click(toggleInfo);
        });
    </script>    
</body>
</html>