body { padding: 0; margin: 0; background-color: black; color:#fff; font-family: Verdana,sans-serif; font-size: 12px;}
h1 { font-size: 22px; }
a:link {color: #f33; text-decoration: none;}
a:visited { color: #f33; }
a:hover { color: #f33; background-color:#ff0;}
a:active {color: #0AE;}

