html {position:relative; min-height:100%; }
body { padding: 0; margin: 0; margin-bottom:60px; background-color: rgb(255, 254, 249); color:rgb(59, 46, 0); font-family: Verdana,sans-serif; font-size: 12px;}
h1 { font-size: 3rem; }
a:link {color: rgb(240, 156, 1); text-decoration: none;}
a:visited { color: rgb(139, 0, 0); }
a:hover { color: #f33; background-color:rgb(255, 166, 0);}
a:active {color: rgb(238, 127, 0);}

main, header, #description {
  padding: 0px 8px 0px 8px;
}

.urgence {
  background-color: rgb(255, 217, 146);
  font-style: italic;
  padding: 8px;
}

.image { 
    border: none; 
    background-color: transparent;
}

.image a:hover { 
    /*border: 2px solid rgba(255, 3, 3, 0.075); */
    background-color: transparent;
}

img {
    max-width: 100%;
  }

  img[width] {
    width: auto; /* Defer to max-width */
  }

  img[width][height] {
    height: auto; /* Preserve aspect ratio */
  }
  
  /* Let SVG scale without boundaries */
  img[src$=".svg"] {
    width: 100%;
    height: auto;
    max-height: 70vh;
  }

  a.sketch-link { background-color: transparent; display:none;}

  .info {
      font-style: italic;
      color: #999;
      padding: 8px;
  }

  .credits {
      color: rgb(83, 23, 23);
      padding: 8px;  
  }

  form { padding: 8px;}

  button {
    /*display: inline-block;*/
    background-color: #ff3c00;
    border-radius: 4px;
    border: none;
    color: #eeeeee;
    text-align: center;
    padding: 8px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button:hover {
    background-color: #ff0000;
  }

  textarea {
  border: 1px solid #ff3c00;
  border-radius: 4px;
	padding: 5px;
	font-family: Tahoma, sans-serif;  
}

textarea:focus {
  border: 1px solid #ff0000;
  border-radius: 4px;
}
 /* Customize the label (the .cb) */
 .cb {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

fieldset {
  font-size: 16px;
  font-weight: bold;
  border:#ca9382 solid 1px;
}

label{
  font-size: 14px;
  font-weight: normal;
}

/* Hide the browser's default checkbox */
.cb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 247, 234);
  border: 1px solid #ff5100;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.cb:hover input ~ .checkmark {
  background-color: rgb(255, 189, 145);
}

/* When the checkbox is checked, add a blue background */
.cb input:checked ~ .checkmark {
  background-color: #fdfdfd;
  border: 1px solid #ff0000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid rgb(255, 0, 0);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

footer {
  position: absolute;
  /* padding-top: 8px;*/
  bottom: 0;
  width: 99%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(255, 244, 212, 0.898);
  z-index: 10;
}

footer > p {
  padding-left: 8px;
  padding-right: 8px;
}

#buttons {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.arrows {
  width: 75px; height: 75px;
  font-size:large;
  font-weight: bold;
}